body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 100%;
}

/* General Navbar Styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 13px;
}

.left ul {
    margin-left: 18px;
}

.right ul {
    margin-right: 18px;
}

.text-link {
    opacity: 0.75;
    vertical-align: middle;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left li{
    float: left;
    padding-left: 15px;
    margin-right: 0px;
}

.right li{
    float: right;
    margin-right: 0px;
    padding-left: 15px;
}

/* Upper Navbar */
.upper {
    margin-top: 5px;
}

.header {
    margin-top: 19px;
}

.apps {
    opacity: 0.55;
}

.apps:hover {
    opacity: 0.85;
}

#sign-in {
    margin-right: 15px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    color: white; 
    border-radius: 2px;
    line-height: 28px;
    margin-top: -5px;
}

#sign-in a {
    color:white;
}

#sign-in:hover {
    text-decoration: none;
}

/* Lower Navbar */
.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    width: 100%;
    position: absolute;
    
    vertical-align: middle;
    height: 45px;
}

.bottom li {
    margin-top: 15px;
    color: #5f6368;
    padding-left: 27px;
}

#settings {
    margin-right: 15px;
}

/* Main */
.main {
    clear: both;
}

/* Logo */
.logo {
    padding-top: 164px;
    width: 50%;
    margin: 0 auto;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Form */
form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Search Bar */
.search-box {
    width: 584px;
    height: 44px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-box:focus, .search-box:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-box input
{
    width: 534px;
    height: 34px;
    font-size: 16px;
    padding: 5px 8px 0 16px;
    background-color: transparent;
    border: none;
}

.search-box input:focus{
    outline: none;
}

.search-bar {
    width: 590px;
    height: 34px;
}

.search-bar:focus {
    outline: none;
}

.voice-search {
    background-image: url("../images/google_mic.png");
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
    background-size: cover;
    margin: 8px 0 0 -40px;
}

/* Submit Buttons */
.submission {
    margin: 15px auto;
    text-align: center;
}

.submit-button {
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #757575;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}
